.how {

  @include media-breakpoint-down(md) {
    padding-bottom: 50px;
  }

  &__header {
    margin-bottom: 20px;
    font-size: 36px;
    line-height: 1.23;

    @include media-breakpoint-down(sm) {
      font-size: 28px;
    }
  }

  &__text {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 1.55;
    font-weight: 300;

    @include media-breakpoint-down(sm) {
      font-size: 16px;
    }
  }
}
