mixin how(data)
  .how&attributes(attributes)
    .row
      .col-lg-6.d-flex.justify-content-center.align-items-end.mb-50.mb-lg-0
        img.img-fluid(src="./img/how.jpg", alt)
      .col-lg-6.d-flex.flex-column.justify-content-center.py-md-50
        h2.how__header Как это работает
        p.how__text Сервис использует смартфон клиента как основное устройство коммуникации, выводит на экран меню заведения с удобным и интуитивно понятным интерфейсом.
        p.how__text Это позволят человеку любого возраста быстро изучить меню и выбрать заинтересовавшие его блюда и напитки.
        p.how__text.mb-0 Моментальное открытие меню на экране телефона без скачивания или установки отдельных приложений, бесконтактным путем передачи информации.
