mixin about(data)
  .about#about&attributes(attributes)
    h2.text-center.mb-30.mb-lg-100 Что такое NFC-MENU
    .about__row
      .about__col
        +advantage({
          title: 'Нет доп оборудования', 
          dscr: 'Не требуется приобретать или поддерживать дополнительные гаджеты (планшеты и т.д.), так как все работает на устройстве клиента.', 
          icon: 'advantage-1.svg'
        })
        +advantage({
          title: 'Просто для гостей', 
          dscr: 'Существенное сокращение времени на изучение меню персоналом. Увеличение скорости обслуживания за счет функции «Вызов официанта», когда клиент готов сделать заказ.', 
          icon: 'advantage-2.svg'
        })
        +advantage({
          title: 'Предзаказ', 
          dscr: 'Удобная функция предзаказа, которая сокращает ошибки и неточности в работе официанта при уточнении заказа, если меню насчитывает большое количество наименований блюд и напитков.', 
          icon: 'advantage-3.svg'
        })
      .about__col
        img.about__picture.img-fluid(src="./img/about.jpg", alt)
      .about__col
        +advantage({
          title: 'Полное оформление', 
          dscr: 'Соблюдение требований и норм Роспотребнадзора о оформлении меню (полный состав блюд, пищевая ценность и наличие пищевых аллергенов).', 
          icon: 'advantage-4.svg'
        })
        +advantage({
          title: 'Легко начать', 
          dscr: 'Электронное меню легко вводится в эксплуатацию при минимальных затратах на старте и дальнейшем обслуживании.', 
          icon: 'advantage-5.svg'
        })
        +advantage({
          title: 'Статистика', 
          dscr: 'Данные статистики в NFC Menu (количество переходов, вызов официантов, наиболее часто выбираемые блюда и т.д.) можно использовать при маркетинговой проработке акций и спецпредложений.', 
          icon: 'advantage-6.svg'
        })
