.about {
  padding-top: 105px;
  padding-bottom: 120px;

  @include media-breakpoint-down(sm) {
    padding: 40px 0;
  }

  &__row {
    display: flex;
    justify-content: center;

    @include media-breakpoint-down(lg) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__col {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &:first-of-type {

      .advantage {
        text-align: right;

        @include media-breakpoint-down(lg) {
          text-align: left;
        }
      }

      .advantage__content {
        margin-right: 20px;
        margin-left: 0;

        @include media-breakpoint-down(lg) {
          margin-left: 20px;
        }
      }
    }

    &:last-of-type {

      .advantage {
        flex-direction: row-reverse;
      }
    }
  }

  &__picture {
    margin: 0 50px;
    width: 100%;
    max-width: 540px;

    @include media-breakpoint-down(lg) {
      margin: 40px 0;
    }
  }
}
