
include ../blocks/front/front.pug
include ../blocks/about/about.pug
include ../blocks/advantage/advantage.pug
include ../blocks/feature/feature.pug
include ../blocks/how/how.pug
include ../blocks/contacts/contacts.pug
include ../blocks/footer/footer.pug
include ../blocks/features/features.pug
include ../blocks/form/form.pug
include ../blocks/input/input.pug