.advantage {
  margin-bottom: 45px;
  display: flex;
  align-items: flex-start;

  @include media-breakpoint-down(lg) {
    flex-direction: row-reverse;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &__content {
    margin-left: 20px;
    max-width: 280px;

    @include media-breakpoint-down(lg) {
      max-width: none;
    }
  }

  &__title {
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: 700;

    @include media-breakpoint-down(sm) {
      font-size: 18px;
    }
  }

  &__dscr {
    margin-bottom: 0;
    font-size: 16px;
    line-height: 1.55;

    @include media-breakpoint-down(sm) {
      font-size: 12px;
    }
  }

  &__icon {
    margin-top: -5px;
    max-width: 45px;
  }
}
