mixin advantage(data)
  .advantage&attributes(attributes)
    .advantage__content
      h4.advantage__title= data.title
      p.advantage__dscr= data.dscr
    img.advantage__icon(src="./img/" + data.icon, alt)
