mixin front(data)
  .front&attributes(attributes)
    .container.front__wrapper
      .front__content
        h1.front__header NFC-MENU
        .front__dscr
          p.front__dscr-text NFC MENU — это сервис электронного меню, разработанный для заведений HoReCa с целью повышения уровня и скорости обслуживания клиентов, сбора статистики и увеличения уровня продаж.
          p.front__dscr-text.mb-0 Не требуется приобретать или поддерживать дополнительные гаджеты (планшеты и т.д.), так как все работает на устройствах клиента.
    a.front__scroll(href="#about")
      include ./img/scroll.svg
