.front {
  position: relative;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  background: url(../img/front.jpg) no-repeat center;
  background-size: cover;

  @include media-breakpoint-down(md) {
    padding: 80px 0 150px;
    min-height: 0;
  }

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: '';
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .6), rgba(0, 0, 0, .7));
  }

  &__wrapper {
    position: relative;
    z-index: 1;
  }

  &__content {
    margin: 0 auto;
    max-width: 700px;
  }

  &__header {
    margin-bottom: 35px;
    color: $primary;
  }

  &__dscr-text {
    margin-bottom: 36px;
    font-size: 24px;
    font-weight: 300;

    @include media-breakpoint-down(sm) {
      font-size: 14px;
      line-height: 1.4;
    }
  }

  &__scroll {
    position: absolute;
    bottom: 40px;
    left: 50%;
    margin-left: -19px;
    display: block;
    animation: t-arrow-bottom 1.7s infinite ease;

    @include transition;

    &:hover {
      opacity: .7;
    }

    svg {

      @include media-breakpoint-down(sm) {
        margin: 0 auto;
        max-width: 70%;
      }
    }
  }
}

@keyframes t-arrow-bottom {

  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-7px);
  }

  55% {
    transform: translateY(-7px);
  }

  100% {
    transform: translateY(0);
  }
}
