.feature {
  margin-bottom: 55px;
  display: flex;
  color: #000;

  &:before {
    margin-top: -2px;
    margin-right: 20px;
    display: block;
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    content: '';
    background: url(../img/check.svg) no-repeat center;
    background-size: contain;

    @include media-breakpoint-down(md) {
      width: 45px;
    }
  }

  &__content {
    //    max-width: 530px;
  }

  &__title {
    margin-bottom: 14px;
    font-size: 20px;
    line-height: 1.35;

    @include media-breakpoint-down(sm) {
      font-size: 16px;
    }
  }

  &__dscr {
    margin-bottom: 0;
    font-size: 19px;
    line-height: 1.55;
    font-weight: 300;

    @include media-breakpoint-down(sm) {
      font-size: 14px;
    }
  }
}
