mixin contacts(data)
  .contacts&attributes(attributes)
    .container
      .contacts__content
        h2.text-white.text-center Контакты
        p.contacts__subheader.text-center Оставьте ваши данные, мы перезвоним и вышлем коммерческое предложение
        +form
