.contacts {
  position: relative;
  padding: 100px 0;
  color: #fff;
  background: url(../img/contacts.jpg) no-repeat center;
  background-size: cover;

  @include media-breakpoint-down(sm) {
    padding: 40px 0;
  }

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    opacity: .7;
    content: '';
    background: #29221c;
  }

  &__content {
    position: relative;
    z-index: 1;
    margin: 0 auto;
    max-width: 560px;
  }

  &__subheader {
    margin: 40px auto 50px;
    max-width: 400px;
    font-size: 20px;
    line-height: 1.55;
    font-weight: 300;

    @include media-breakpoint-down(sm) {
      font-size: 16px;
    }
  }
}
