mixin form(data)
  form.form(action="#", method="POST")&attributes(attributes)
    .form-group
      input.input.form-control(type="email", placeholder="E-mail", required)
    .form-group
      input.input.form-control(type="text", placeholder="Телефон", required)
    .form-group
      input.input.form-control(type="text", placeholder="Имя", required)
    button.btn.btn-primary.w-100(type="submit") Отправить
