mixin features(data)
  .features&attributes(attributes)
    .row
      .col-lg-6
        +feature({
          title: 'Фотографии, описания и состав',
          dscr: 'Визуальное наполнение меню фотографиями блюд с полным указанием состава продуктов, пищевой ценности и аллергенов облегчает выбор блюд для гостя.'
        })
        +feature({
          title: 'Детское меню',
          dscr: 'Возможность специального оформления для детского меню.'
        })
        +feature({
          title: 'База гостей',
          dscr: 'Сбор данных гостей с целью формирования клиентской базы (email, телефон).'
        })
        +feature({
          title: 'Замена печатных меню',
          dscr: 'Частичная или полная замена дорогих печатных версий меню.'
        })
      .col-lg-6
        +feature({
          title: 'English language',
          dscr: 'Выбор языка (русская, английская и другие версии) адаптирует ваше меню под любого иностранного посетителя.'
        })
        +feature({
          title: 'Быстрое обновление меню',
          dscr: 'Оперативное изменение позиций в меню: замена блюд, добавление информации о наличии блюд, изменение цен и т. д.'
        })
        +feature({
          title: 'Рекомендации',
          dscr: 'Возможность указания рекомендаций напитков к блюдам или оповещения клиентов об актуальных промо-акциях.'
        })
        +feature({
          title: 'Отзывы посетителей',
          dscr: 'Возможность оставить отзыв на TripAdvisor, Google, Yandex.'
        })
